## æ­£è¦è¡¨é”æ³•

In [2]:
p = '0912345678'
'0912345678' == p

True

In [3]:
s = '8'

In [4]:
import re
re.match('8', s)

In [6]:
print(re.match('6', s))

None

In [7]:
# 0 or 1 or 2 ... or 9 => [0123456789]
re.match('[0123456789]', s)

In [8]:
# -: [0123456789] => [0-9]
re.match('[0-9]', s)

In [9]:
# \d: [0-9] => \d
re.match('\d', s)

In [10]:
s = 'w'

In [11]:
print(re.match('\d', s))

None

In [13]:
print(re.match('[abcdefghijklmnopqrstuvwxyz]', s))

<_sre.SRE_Match object; span=(0, 1), match='w'>

In [15]:
# [abcdefghijklmnopqrstuvwxyz] => [a-z]
print(re.match('[a-z]', s))

<_sre.SRE_Match object; span=(0, 1), match='w'>

In [16]:
s = 'W'
print(re.match('[a-z]', s))

None

In [17]:
print(re.match('[a-zA-Z]', s))

<_sre.SRE_Match object; span=(0, 1), match='W'>

In [18]:
s = '5'
print(re.match('[a-zA-Z]', s))

None

In [19]:
print(re.match('[a-zA-Z0-9]', s))

<_sre.SRE_Match object; span=(0, 1), match='5'>

In [20]:
print(re.match('[0-9a-zA-Z]', s))

<_sre.SRE_Match object; span=(0, 1), match='5'>

In [21]:
# [a-zA-Z0-9] => \w
print(re.match('\w', s))

<_sre.SRE_Match object; span=(0, 1), match='5'>

In [22]:
a = 'ä½ å¥½'

In [23]:
re.match('[\u4e00-\u9fa5]', a)

In [25]:
p = 'apple'
re.match('\w', p)

In [26]:
# {n} => match exact n word
re.match('\w{5}', p)

In [28]:
p = 'app-le'
print(re.match('\w{5}', p))

None

In [29]:
print(re.match('[\w-]{5}', p))

<_sre.SRE_Match object; span=(0, 5), match='app-l'>

In [30]:
# {m,n} =>  at least m charater, at most n charater
print(re.match('[\w-]{5,6}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [31]:
# {m,} =>  at least m charaters
print(re.match('[\w-]{5,}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [32]:
# {,n} =>  at most n charaters
print(re.match('[\w-]{,6}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [33]:
# {1,} =>  at least 1 charaters
print(re.match('[\w-]{1,}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [35]:
# {1,} => +
print(re.match('[\w-]+', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [36]:
# {0,} =>  at least 0 charaters
print(re.match('[\w-]{0,}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [37]:
# {0,} => *
print(re.match('[\w-]*', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [48]:
phones = ['0912345678', '0912-345678','0912-345-678','091234567812310312370132']
ary = []
for p in phones:
    #print(re.match('09\d{8}',p))
    #print(re.match('09[\d-]{8}',p))
    #print(re.match('09[\d-]{8,10}',p))
    #print(re.match('09\d{2}-{0,1}\d{3}-{0,1}\d{3}',p))
    
    # ? => {0,1}
    #print(re.match('09\d{2}-?\d{3}-?\d{3}',p))
    
    # ^ match the begin, $ match the end
    m = re.match('^09\d{2}-?\d{3}-?\d{3}$',p)
    if m:
        ary.append(m)

In [49]:
len(ary)

3

In [51]:
a = ['1','2','3']
if len(a) >= 1:
    print('exist')

exist

In [52]:
if a:
    print('exist')

exist

In [53]:
a = []
if a:
    print('exist')

In [54]:
phones = ['0912345678', '0912-345678','0912-345-678','091234567812310312370132']
len([p for p in phones if re.match('^09\d{2}-?\d{3}-?\d{3}$',p)])

3

In [65]:
words = ['æˆ‘çš„', 'iphone', 'æ‘”å£äº†', 'æŸ¯P', 'æŸ¯Påƒé¸']
for w in words:
    #m = re.match('[\u4e00-\u9fa5]+',w)
    
    # ^ : match begin, [^ ...]: not
    #m = re.match('[^\u4e00-\u9fa5]+',w)
    #m = re.search('[a-zA-Z]+', w)
    
    # match: 100% match, search: partial match
    m = re.match('^[\u4e00-\u9fa5]+$',w)
    if m:
        print(w)

æˆ‘çš„
æ‘”å£äº†

In [67]:
words = 'ğŸ˜‹ Get Emoji â€” All Emojis to âœ‚ Copy and ğŸ“‹ Paste ğŸ‘Œ'
# . match any charaters
m = re.match('.+', words)
m

In [68]:
import re 
m = re.match("\w+@\w+", "david@largidata.com") 
print(m)

<_sre.SRE_Match object; span=(0, 15), match='david@largidata'>

In [70]:
m = re.match("\w+@[\w.]+", "david@largidata.com") 
m

In [71]:
m = re.match("\w+@[\w.]+", "david@largidata@com") 
m

In [73]:
# () => group
m = re.match("(\w+)@([\w.]+)", "david@largidata.com") 
m.groups()

('david', 'largidata.com')

In [74]:
m = re.match("(\w+)@([\w.]+)", "david@largidata.com") 
m.group(1)

'david'

In [75]:
m.group(2)

'largidata.com'

In [77]:
m = re.match("(\w+) (\w+)", "David Chiu") 
print(m.group(1), m.group(2))

David Chiu

In [78]:
m = re.match("(?P<first_name>\w+) (?P<last_name>\w+)", "David Chiu") 
print(m.group('first_name'), m.group('last_name'))

David Chiu

In [79]:
str1 = 'scp file.txt root@10.0.0.1:./' 
m=re.search('^scp ([\w.]+) (\w+)@([\w\.]+):(.+)',str1) 
if m: 
    print(m.group(1), m.group(2), m.group(3), m.group(4))

file.txt root 10.0.0.1 ./

In [81]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col= 0)

In [84]:
s = '2æˆ¿1å»³1è¡›1é™½è‡º'
import re
m = re.match('(\d+)æˆ¿(\d+)å»³(\d+)è¡›(\d+)é™½è‡º',s)
m.groups()

('2', '1', '1', '1')

In [89]:
def matchStr(e):
    m = re.match('(\d+)æˆ¿(\d+)å»³(\d+)è¡›(\d+)é™½è‡º', e)
    return m.groups()

#df['layout'].map(matchStr)

In [91]:
df[['bedroom', 'living_room', 'bathroom', 'balcony']] = df['layout'].str.extract('(\d+)æˆ¿(\d+)å»³(\d+)è¡›(\d+)é™½è‡º')

In [104]:
#df['address'].str.extract('(.+[å¸‚ç¸£])(.+[å€å¸‚é„‰é®])(.+[è·¯è¡—å··])').isnull().any()
#df['address']

0    True
1    True
2    True
dtype: bool

In [115]:
# *?, +? => non greedy match
df2 = df['address'].str.extract('(.+?[å¸‚ç¸£])(.+?[å€å¸‚é„‰é®])(.+?[è·¯è¡—å··æ®µ])')
df2[df2[0].isnull()]

Empty DataFrame
Columns: [0, 1, 2]
Index: []

## Pandas IO

In [118]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col=0)
df.head(3)

,search_date,title,address,floor_info,price,layout,building_area,building_use
5,2018-05-12,è¿‘æ·é‹ï¼Œæ¡å…‰ä½³ï¼Œæœ‰æ™¯è§€ï¼Œå…¨æ–°å®¶é›»è£æ½¢,æ–°åŒ—å¸‚æ·¡æ°´å€æ°‘æ—è·¯,9F/11F,"22,000å…ƒ/æœˆ",2æˆ¿1å»³1è¡›1é™½è‡º,24.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶
9,2018-05-14,å¤§è¡›ç‡Ÿå„ªè³ªç¤¾å€ç®¡ç†å¥½ï¼Œäº¤é€šä¾¿åˆ©ã€è£æ½¢ä½³,åŸºéš†å¸‚å®‰æ¨‚å€æ¨‚åˆ©ä¸‰è¡—,14F/18F,"17,000å…ƒ/æœˆ",2æˆ¿1å»³2è¡›2é™½è‡º,32.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶
13,2018-05-14,å®¶æ¨‚ç¦å¤œå¸‚é™„è¿‘ï¼Œé›…æˆ¿å‡ºç§Ÿ2æˆ¿2å»³,å˜‰ç¾©å¸‚è¥¿å€èˆˆæ¥­è¥¿è·¯,7F/8F,"7,500å…ƒ/æœˆ",2æˆ¿2å»³1è¡›1é™½è‡º,24.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶

In [119]:
df.to_clipboard()

In [128]:
df2 = pd.read_clipboard()
df2

  term  relation                            profession
0  æˆ´ç‡ˆå±±     çµå©š,å­©å­                                    å‰¯ç¸½
1  å‘¨ä¿Šéš†  å¤«äºº,æ¯è¦ª,å¥³å…’  ä¿éšªå±€,ç™¼è¨€äºº,ä¸»å¸­,ç§‘é•·,å±€é•·,éŠ€è¡Œå±€,è‘£äº‹é•·,å°éŠ€,æ–‡å»ºæœƒ,è¡Œæ”¿é™¢é•·
2  å‘¨ä¿Šéš†  å¤«äºº,æ¯è¦ª,å¥³å…’  ä¿éšªå±€,ç™¼è¨€äºº,ä¸»å¸­,ç§‘é•·,å±€é•·,éŠ€è¡Œå±€,è‘£äº‹é•·,å°éŠ€,æ–‡å»ºæœƒ,è¡Œæ”¿é™¢é•·
3  å³ç¢§ç         å¥³å…’                                 è­°é•·å³ç¢§ç

In [132]:
df.to_excel('rent.xlsx')

## SQLite

In [135]:
import sqlite3 as lite
con = lite.connect('test.sqlite')
cur = con.cursor()
cur.execute('select SQLITE_VERSION()')
cur.fetchone()
con.close()

In [137]:
import sqlite3 as lite
with lite.connect('test.sqlite') as con:
    cur = con.cursor()
    cur.execute('select SQLITE_VERSION()')
    print(cur.fetchone())

('3.24.0',)

In [139]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    
    data = cur.fetchall()
    print(data)
    #for rec in data: 
    #    print(rec[0], rec[1])

[('0912173381', 'United State'), ('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

In [140]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data1 = cur.fetchone()
    data2 = cur.fetchall()
    print(data1)
    print(data2)
    #for rec in data: 
    #    print(rec[0], rec[1])

('0912173381', 'United State')
[('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

In [141]:
import sqlite3 as lite
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},{'name':'John', 'age':33 , 'gender': 'M'}]
df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
age       2 non-null int64
gender    2 non-null object
name      2 non-null object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

In [143]:
with lite.connect('test.sqlite') as db:
    df.to_sql(name='employee', index=False, con=db, if_exists='replace')

In [144]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select * from employee;', con = db)
df2

   age gender  name
0   23      F  Mary
1   33      M  John

In [146]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col=0)
#df

In [149]:
df['price'] = df['price'].map(lambda ele: int(ele.replace('å…ƒ/æœˆ', '').replace(',',''))).head()

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 5 to 431
Data columns (total 8 columns):
search_date      100 non-null object
title            100 non-null object
address          100 non-null object
floor_info       100 non-null object
price            5 non-null float64
layout           100 non-null object
building_area    100 non-null float64
building_use     100 non-null object
dtypes: float64(2), object(6)
memory usage: 7.0+ KB

In [151]:
with lite.connect('test.sqlite') as db:
    df.to_sql(name='renthouse', index=False, con=db, if_exists='replace')

In [155]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select * from renthouse;', con = db)
df2.head(1)

,search_date,title,address,floor_info,price,layout,building_area,building_use
0,2018-05-12,è¿‘æ·é‹ï¼Œæ¡å…‰ä½³ï¼Œæœ‰æ™¯è§€ï¼Œå…¨æ–°å®¶é›»è£æ½¢,æ–°åŒ—å¸‚æ·¡æ°´å€æ°‘æ—è·¯,9F/11F,22000.0,2æˆ¿1å»³1è¡›1é™½è‡º,24.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶

In [156]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select building_use, avg(price) from renthouse group by building_use;', con = db)
df2

  building_use  avg(price)
0        å…¬å¯“/ä½è¾¦         NaN
1      å…¬å¯“/æ•´å±¤ä½å®¶         NaN
2      åˆ¥å¢…/æ•´å±¤ä½å®¶         NaN
3       é€å¤©å/ä½è¾¦         NaN
4     é€å¤©å/æ•´å±¤ä½å®¶         NaN
5      é›»æ¢¯å¤§æ¨“/ä½è¾¦         NaN
6    é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶     17300.0

In [157]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select * from renthouse order by price desc limit 3;', con = db)
df2

,search_date,title,address,floor_info,price,layout,building_area,building_use
0,2018-05-14,å°åŒ—å¸‚åŒ—æŠ•æ–°æ°‘è·¯æ·é‹æº«æ³‰78åªé›™æ‹¼ç¾å»ˆ,å°åŒ—å¸‚åŒ—æŠ•å€æ–°æ°‘è·¯,2F/9F,25000.0,4æˆ¿3å»³3è¡›3é™½è‡º,78.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶
1,2018-05-12,è¿‘æ·é‹ï¼Œæ¡å…‰ä½³ï¼Œæœ‰æ™¯è§€ï¼Œå…¨æ–°å®¶é›»è£æ½¢,æ–°åŒ—å¸‚æ·¡æ°´å€æ°‘æ—è·¯,9F/11F,22000.0,2æˆ¿1å»³1è¡›1é™½è‡º,24.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶
2,2018-05-14,å¤§è¡›ç‡Ÿå„ªè³ªç¤¾å€ç®¡ç†å¥½ï¼Œäº¤é€šä¾¿åˆ©ã€è£æ½¢ä½³,åŸºéš†å¸‚å®‰æ¨‚å€æ¨‚åˆ©ä¸‰è¡—,14F/18F,17000.0,2æˆ¿1å»³2è¡›2é™½è‡º,32.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶

## æ–‡å­—æ¢å‹˜

In [158]:
a = 'this is a book'
a.split()

['this', 'is', 'a', 'book']

In [ ]:
a = 'é…¸æ°‘å©‰å›ä¹Ÿå¯ä»¥å ±åå—?'

In [159]:
! pip install jieba

Requirement already satisfied: jieba in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [ ]:
import jieba
for w in jieba.cut('é…¸æ°‘å©‰å›ä¹Ÿå¯ä»¥å ±åå—?'):
    print(w)