## æ­£è¦è¡¨é”æ³•

In [2]:
p = '0912345678'
'0912345678' == p

True

In [3]:
s = '8'

In [4]:
import re
re.match('8', s)

In [6]:
print(re.match('6', s))

None

In [7]:
# 0 or 1 or 2 ... or 9 => [0123456789]
re.match('[0123456789]', s)

In [8]:
# -: [0123456789] => [0-9]
re.match('[0-9]', s)

In [9]:
# \d: [0-9] => \d
re.match('\d', s)

In [10]:
s = 'w'

In [11]:
print(re.match('\d', s))

None

In [13]:
print(re.match('[abcdefghijklmnopqrstuvwxyz]', s))

<_sre.SRE_Match object; span=(0, 1), match='w'>

In [15]:
# [abcdefghijklmnopqrstuvwxyz] => [a-z]
print(re.match('[a-z]', s))

<_sre.SRE_Match object; span=(0, 1), match='w'>

In [16]:
s = 'W'
print(re.match('[a-z]', s))

None

In [17]:
print(re.match('[a-zA-Z]', s))

<_sre.SRE_Match object; span=(0, 1), match='W'>

In [18]:
s = '5'
print(re.match('[a-zA-Z]', s))

None

In [19]:
print(re.match('[a-zA-Z0-9]', s))

<_sre.SRE_Match object; span=(0, 1), match='5'>

In [20]:
print(re.match('[0-9a-zA-Z]', s))

<_sre.SRE_Match object; span=(0, 1), match='5'>

In [21]:
# [a-zA-Z0-9] => \w
print(re.match('\w', s))

<_sre.SRE_Match object; span=(0, 1), match='5'>

In [22]:
a = 'ä½ å¥½'

In [23]:
re.match('[\u4e00-\u9fa5]', a)

In [25]:
p = 'apple'
re.match('\w', p)

In [26]:
# {n} => match exact n word
re.match('\w{5}', p)

In [28]:
p = 'app-le'
print(re.match('\w{5}', p))

None

In [29]:
print(re.match('[\w-]{5}', p))

<_sre.SRE_Match object; span=(0, 5), match='app-l'>

In [30]:
# {m,n} =>  at least m charater, at most n charater
print(re.match('[\w-]{5,6}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [31]:
# {m,} =>  at least m charaters
print(re.match('[\w-]{5,}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [32]:
# {,n} =>  at most n charaters
print(re.match('[\w-]{,6}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [33]:
# {1,} =>  at least 1 charaters
print(re.match('[\w-]{1,}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [35]:
# {1,} => +
print(re.match('[\w-]+', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [36]:
# {0,} =>  at least 0 charaters
print(re.match('[\w-]{0,}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [37]:
# {0,} => *
print(re.match('[\w-]*', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [48]:
phones = ['0912345678', '0912-345678','0912-345-678','091234567812310312370132']
ary = []
for p in phones:
    #print(re.match('09\d{8}',p))
    #print(re.match('09[\d-]{8}',p))
    #print(re.match('09[\d-]{8,10}',p))
    #print(re.match('09\d{2}-{0,1}\d{3}-{0,1}\d{3}',p))
    
    # ? => {0,1}
    #print(re.match('09\d{2}-?\d{3}-?\d{3}',p))
    
    # ^ match the begin, $ match the end
    m = re.match('^09\d{2}-?\d{3}-?\d{3}$',p)
    if m:
        ary.append(m)

In [49]:
len(ary)

3

In [51]:
a = ['1','2','3']
if len(a) >= 1:
    print('exist')

exist

In [52]:
if a:
    print('exist')

exist

In [53]:
a = []
if a:
    print('exist')

In [54]:
phones = ['0912345678', '0912-345678','0912-345-678','091234567812310312370132']
len([p for p in phones if re.match('^09\d{2}-?\d{3}-?\d{3}$',p)])

3

In [65]:
words = ['æˆ‘çš„', 'iphone', 'æ‘”å£äº†', 'æŸ¯P', 'æŸ¯Påƒé¸']
for w in words:
    #m = re.match('[\u4e00-\u9fa5]+',w)
    
    # ^ : match begin, [^ ...]: not
    #m = re.match('[^\u4e00-\u9fa5]+',w)
    #m = re.search('[a-zA-Z]+', w)
    
    # match: 100% match, search: partial match
    m = re.match('^[\u4e00-\u9fa5]+$',w)
    if m:
        print(w)

æˆ‘çš„
æ‘”å£äº†

In [67]:
words = 'ğŸ˜‹ Get Emoji â€” All Emojis to âœ‚ Copy and ğŸ“‹ Paste ğŸ‘Œ'
# . match any charaters
m = re.match('.+', words)
m

In [68]:
import re 
m = re.match("\w+@\w+", "david@largidata.com") 
print(m)

<_sre.SRE_Match object; span=(0, 15), match='david@largidata'>

In [70]:
m = re.match("\w+@[\w.]+", "david@largidata.com") 
m

In [71]:
m = re.match("\w+@[\w.]+", "david@largidata@com") 
m

In [73]:
# () => group
m = re.match("(\w+)@([\w.]+)", "david@largidata.com") 
m.groups()

('david', 'largidata.com')

In [74]:
m = re.match("(\w+)@([\w.]+)", "david@largidata.com") 
m.group(1)

'david'

In [75]:
m.group(2)

'largidata.com'

In [77]:
m = re.match("(\w+) (\w+)", "David Chiu") 
print(m.group(1), m.group(2))

David Chiu

In [78]:
m = re.match("(?P<first_name>\w+) (?P<last_name>\w+)", "David Chiu") 
print(m.group('first_name'), m.group('last_name'))

David Chiu

In [79]:
str1 = 'scp file.txt root@10.0.0.1:./' 
m=re.search('^scp ([\w.]+) (\w+)@([\w\.]+):(.+)',str1) 
if m: 
    print(m.group(1), m.group(2), m.group(3), m.group(4))

file.txt root 10.0.0.1 ./

In [81]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col= 0)

In [84]:
s = '2æˆ¿1å»³1è¡›1é™½è‡º'
import re
m = re.match('(\d+)æˆ¿(\d+)å»³(\d+)è¡›(\d+)é™½è‡º',s)
m.groups()

('2', '1', '1', '1')

In [89]:
def matchStr(e):
    m = re.match('(\d+)æˆ¿(\d+)å»³(\d+)è¡›(\d+)é™½è‡º', e)
    return m.groups()

#df['layout'].map(matchStr)

In [91]:
df[['bedroom', 'living_room', 'bathroom', 'balcony']] = df['layout'].str.extract('(\d+)æˆ¿(\d+)å»³(\d+)è¡›(\d+)é™½è‡º')

In [104]:
#df['address'].str.extract('(.+[å¸‚ç¸£])(.+[å€å¸‚é„‰é®])(.+[è·¯è¡—å··])').isnull().any()
#df['address']

0    True
1    True
2    True
dtype: bool

In [115]:
# *?, +? => non greedy match
df2 = df['address'].str.extract('(.+?[å¸‚ç¸£])(.+?[å€å¸‚é„‰é®])(.+?[è·¯è¡—å··æ®µ])')
df2[df2[0].isnull()]

Empty DataFrame
Columns: [0, 1, 2]
Index: []

## Pandas IO

In [118]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col=0)
df.head(3)

,search_date,title,address,floor_info,price,layout,building_area,building_use
5,2018-05-12,è¿‘æ·é‹ï¼Œæ¡å…‰ä½³ï¼Œæœ‰æ™¯è§€ï¼Œå…¨æ–°å®¶é›»è£æ½¢,æ–°åŒ—å¸‚æ·¡æ°´å€æ°‘æ—è·¯,9F/11F,"22,000å…ƒ/æœˆ",2æˆ¿1å»³1è¡›1é™½è‡º,24.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶
9,2018-05-14,å¤§è¡›ç‡Ÿå„ªè³ªç¤¾å€ç®¡ç†å¥½ï¼Œäº¤é€šä¾¿åˆ©ã€è£æ½¢ä½³,åŸºéš†å¸‚å®‰æ¨‚å€æ¨‚åˆ©ä¸‰è¡—,14F/18F,"17,000å…ƒ/æœˆ",2æˆ¿1å»³2è¡›2é™½è‡º,32.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶
13,2018-05-14,å®¶æ¨‚ç¦å¤œå¸‚é™„è¿‘ï¼Œé›…æˆ¿å‡ºç§Ÿ2æˆ¿2å»³,å˜‰ç¾©å¸‚è¥¿å€èˆˆæ¥­è¥¿è·¯,7F/8F,"7,500å…ƒ/æœˆ",2æˆ¿2å»³1è¡›1é™½è‡º,24.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶

In [119]:
df.to_clipboard()

In [128]:
df2 = pd.read_clipboard()
df2

  term  relation                            profession
0  æˆ´ç‡ˆå±±     çµå©š,å­©å­                                    å‰¯ç¸½
1  å‘¨ä¿Šéš†  å¤«äºº,æ¯è¦ª,å¥³å…’  ä¿éšªå±€,ç™¼è¨€äºº,ä¸»å¸­,ç§‘é•·,å±€é•·,éŠ€è¡Œå±€,è‘£äº‹é•·,å°éŠ€,æ–‡å»ºæœƒ,è¡Œæ”¿é™¢é•·
2  å‘¨ä¿Šéš†  å¤«äºº,æ¯è¦ª,å¥³å…’  ä¿éšªå±€,ç™¼è¨€äºº,ä¸»å¸­,ç§‘é•·,å±€é•·,éŠ€è¡Œå±€,è‘£äº‹é•·,å°éŠ€,æ–‡å»ºæœƒ,è¡Œæ”¿é™¢é•·
3  å³ç¢§ç         å¥³å…’                                 è­°é•·å³ç¢§ç

In [132]:
df.to_excel('rent.xlsx')

## SQLite

In [135]:
import sqlite3 as lite
con = lite.connect('test.sqlite')
cur = con.cursor()
cur.execute('select SQLITE_VERSION()')
cur.fetchone()
con.close()

In [137]:
import sqlite3 as lite
with lite.connect('test.sqlite') as con:
    cur = con.cursor()
    cur.execute('select SQLITE_VERSION()')
    print(cur.fetchone())

('3.24.0',)

In [139]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    
    data = cur.fetchall()
    print(data)
    #for rec in data: 
    #    print(rec[0], rec[1])

[('0912173381', 'United State'), ('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

In [140]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data1 = cur.fetchone()
    data2 = cur.fetchall()
    print(data1)
    print(data2)
    #for rec in data: 
    #    print(rec[0], rec[1])

('0912173381', 'United State')
[('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

In [141]:
import sqlite3 as lite
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},{'name':'John', 'age':33 , 'gender': 'M'}]
df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
age       2 non-null int64
gender    2 non-null object
name      2 non-null object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

In [143]:
with lite.connect('test.sqlite') as db:
    df.to_sql(name='employee', index=False, con=db, if_exists='replace')

In [144]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select * from employee;', con = db)
df2

   age gender  name
0   23      F  Mary
1   33      M  John

In [146]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col=0)
#df

In [149]:
df['price'] = df['price'].map(lambda ele: int(ele.replace('å…ƒ/æœˆ', '').replace(',',''))).head()

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 5 to 431
Data columns (total 8 columns):
search_date      100 non-null object
title            100 non-null object
address          100 non-null object
floor_info       100 non-null object
price            5 non-null float64
layout           100 non-null object
building_area    100 non-null float64
building_use     100 non-null object
dtypes: float64(2), object(6)
memory usage: 7.0+ KB

In [151]:
with lite.connect('test.sqlite') as db:
    df.to_sql(name='renthouse', index=False, con=db, if_exists='replace')

In [155]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select * from renthouse;', con = db)
df2.head(1)

,search_date,title,address,floor_info,price,layout,building_area,building_use
0,2018-05-12,è¿‘æ·é‹ï¼Œæ¡å…‰ä½³ï¼Œæœ‰æ™¯è§€ï¼Œå…¨æ–°å®¶é›»è£æ½¢,æ–°åŒ—å¸‚æ·¡æ°´å€æ°‘æ—è·¯,9F/11F,22000.0,2æˆ¿1å»³1è¡›1é™½è‡º,24.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶

In [156]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select building_use, avg(price) from renthouse group by building_use;', con = db)
df2

  building_use  avg(price)
0        å…¬å¯“/ä½è¾¦         NaN
1      å…¬å¯“/æ•´å±¤ä½å®¶         NaN
2      åˆ¥å¢…/æ•´å±¤ä½å®¶         NaN
3       é€å¤©å/ä½è¾¦         NaN
4     é€å¤©å/æ•´å±¤ä½å®¶         NaN
5      é›»æ¢¯å¤§æ¨“/ä½è¾¦         NaN
6    é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶     17300.0

In [157]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select * from renthouse order by price desc limit 3;', con = db)
df2

,search_date,title,address,floor_info,price,layout,building_area,building_use
0,2018-05-14,å°åŒ—å¸‚åŒ—æŠ•æ–°æ°‘è·¯æ·é‹æº«æ³‰78åªé›™æ‹¼ç¾å»ˆ,å°åŒ—å¸‚åŒ—æŠ•å€æ–°æ°‘è·¯,2F/9F,25000.0,4æˆ¿3å»³3è¡›3é™½è‡º,78.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶
1,2018-05-12,è¿‘æ·é‹ï¼Œæ¡å…‰ä½³ï¼Œæœ‰æ™¯è§€ï¼Œå…¨æ–°å®¶é›»è£æ½¢,æ–°åŒ—å¸‚æ·¡æ°´å€æ°‘æ—è·¯,9F/11F,22000.0,2æˆ¿1å»³1è¡›1é™½è‡º,24.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶
2,2018-05-14,å¤§è¡›ç‡Ÿå„ªè³ªç¤¾å€ç®¡ç†å¥½ï¼Œäº¤é€šä¾¿åˆ©ã€è£æ½¢ä½³,åŸºéš†å¸‚å®‰æ¨‚å€æ¨‚åˆ©ä¸‰è¡—,14F/18F,17000.0,2æˆ¿1å»³2è¡›2é™½è‡º,32.0,é›»æ¢¯å¤§æ¨“/æ•´å±¤ä½å®¶

## æ–‡å­—æ¢å‹˜

In [158]:
a = 'this is a book'
a.split()

['this', 'is', 'a', 'book']

In [ ]:
a = 'é…¸æ°‘å©‰å›ä¹Ÿå¯ä»¥å ±åå—?'

In [159]:
! pip install jieba

Requirement already satisfied: jieba in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [161]:
import jieba
for w in jieba.cut('é…¸æ°‘å©‰å›ä¹Ÿå¯ä»¥å ±åå—?'):
    print(w)

Building prefix dict from the default dictionary ...
Loading model from cache /var/folders/46/b7dzk4mn6g54qzptv608w7d00000gn/T/jieba.cache
Loading model cost 0.827 seconds.
Prefix dict has been built succesfully.

é…¸æ°‘å©‰å›
ä¹Ÿ
å¯ä»¥
å ±å
å—
?

## æ­£è¦è¡¨é”æ³•æ–·å¥

In [163]:
s = '''
ä¹…ç«™ã€ä¹…åå¸¸å°è‡´ä¸‹è‚¢éœè„ˆæ›²å¼µï¼Œä¸åƒ…å½±éŸ¿ç¾è§€ï¼Œè¬èŠ³é†«é™¢å¿ƒè‡Ÿè¡€ç®¡å¤–ç§‘ä¸»æ²»é†«å¸«èŠæ°‘æ¥·è¡¨ç¤ºï¼Œæ ¹æ“šçµ±è¨ˆï¼Œå¥³æ€§ä¸€ç”Ÿä¸­ç”¢ç”Ÿéœè„ˆæ›²å¼µçš„æ©Ÿæœƒç´„20%ï¼Œå‡¡å‡ºç¾éœè„ˆæ›²å¼µçš„è¡€ç®¡ï¼Œæ›´è¦å°å¿ƒå¯èƒ½ä½µç™¼çš®è†šæ½°ç˜ã€è¡€ç®¡æ “å¡èˆ‡æƒ¡ç—…ç—…è®Šç­‰ã€‚é©é€¢æ¯è¦ªç¯€ï¼Œ è¬èŠ³é†«é™¢ç‰¹åˆ¥æ–¼5æœˆ4æ—¥æ—©ä¸Š9é»ï¼Œåœ¨é†«é™¢ä¸€æ¨“å¤§å»³èˆ‰è¾¦å…è²»ã€Œéœè„ˆæ›²å¼µã€ç¯©æª¢ï¼Œé™é‡200åï¼Œæ¡ç¾å ´å ±åã€‚
'''
s.split('ï¼Œ')

['\nä¹…ç«™ã€ä¹…åå¸¸å°è‡´ä¸‹è‚¢éœè„ˆæ›²å¼µ',
 'ä¸åƒ…å½±éŸ¿ç¾è§€',
 'è¬èŠ³é†«é™¢å¿ƒè‡Ÿè¡€ç®¡å¤–ç§‘ä¸»æ²»é†«å¸«èŠæ°‘æ¥·è¡¨ç¤º',
 'æ ¹æ“šçµ±è¨ˆ',
 'å¥³æ€§ä¸€ç”Ÿä¸­ç”¢ç”Ÿéœè„ˆæ›²å¼µçš„æ©Ÿæœƒç´„20%',
 'å‡¡å‡ºç¾éœè„ˆæ›²å¼µçš„è¡€ç®¡',
 'æ›´è¦å°å¿ƒå¯èƒ½ä½µç™¼çš®è†šæ½°ç˜ã€è¡€ç®¡æ “å¡èˆ‡æƒ¡ç—…ç—…è®Šç­‰ã€‚é©é€¢æ¯è¦ªç¯€',
 ' è¬èŠ³é†«é™¢ç‰¹åˆ¥æ–¼5æœˆ4æ—¥æ—©ä¸Š9é»',
 'åœ¨é†«é™¢ä¸€æ¨“å¤§å»³èˆ‰è¾¦å…è²»ã€Œéœè„ˆæ›²å¼µã€ç¯©æª¢',
 'é™é‡200å',
 'æ¡ç¾å ´å ±åã€‚\n']

In [167]:
import re
re.split('ï¼Œ|ã€‚|ã€Œ|ã€|ã€', s)

['\nä¹…ç«™',
 'ä¹…åå¸¸å°è‡´ä¸‹è‚¢éœè„ˆæ›²å¼µ',
 'ä¸åƒ…å½±éŸ¿ç¾è§€',
 'è¬èŠ³é†«é™¢å¿ƒè‡Ÿè¡€ç®¡å¤–ç§‘ä¸»æ²»é†«å¸«èŠæ°‘æ¥·è¡¨ç¤º',
 'æ ¹æ“šçµ±è¨ˆ',
 'å¥³æ€§ä¸€ç”Ÿä¸­ç”¢ç”Ÿéœè„ˆæ›²å¼µçš„æ©Ÿæœƒç´„20%',
 'å‡¡å‡ºç¾éœè„ˆæ›²å¼µçš„è¡€ç®¡',
 'æ›´è¦å°å¿ƒå¯èƒ½ä½µç™¼çš®è†šæ½°ç˜',
 'è¡€ç®¡æ “å¡èˆ‡æƒ¡ç—…ç—…è®Šç­‰',
 'é©é€¢æ¯è¦ªç¯€',
 ' è¬èŠ³é†«é™¢ç‰¹åˆ¥æ–¼5æœˆ4æ—¥æ—©ä¸Š9é»',
 'åœ¨é†«é™¢ä¸€æ¨“å¤§å»³èˆ‰è¾¦å…è²»',
 'éœè„ˆæ›²å¼µ',
 'ç¯©æª¢',
 'é™é‡200å',
 'æ¡ç¾å ´å ±å',
 '\n']

In [169]:
import jieba

seg_list = jieba.cut("å¤§å·¨è›‹æ¡ˆå°å¸‚åºœåŒä»ä¸‹å°å£ä»¤ï¼Ÿã€€æŸ¯På¦èª", cut_all=True)
seg_list

In [171]:
for w in seg_list:
    print(w)

In [173]:
seg_list = jieba.cut("å¤§å·¨è›‹æ¡ˆå°å¸‚åºœåŒä»ä¸‹å°å£ä»¤ï¼Ÿã€€æŸ¯På¦èª", cut_all=True)
list(seg_list)

['å¤§',
 'å·¨è›‹',
 'æ¡ˆ',
 'å°',
 'å¸‚åºœ',
 'åŒä»',
 'ä¸‹',
 'å°å£',
 'å°å£ä»¤',
 'å£ä»¤',
 '',
 '',
 '',
 'æŸ¯',
 'P',
 'å¦',
 'èª']

In [174]:
seg_list = jieba.cut("å¤§å·¨è›‹æ¡ˆå°å¸‚åºœåŒä»ä¸‹å°å£ä»¤ï¼Ÿã€€æŸ¯På¦èª")
list(seg_list)

['å¤§', 'å·¨è›‹', 'æ¡ˆå°', 'å¸‚åºœ', 'åŒä»', 'ä¸‹', 'å°å£ä»¤', 'ï¼Ÿ', '\u3000', 'æŸ¯', 'P', 'å¦èª']

In [178]:
jieba.load_userdict('userdict.txt')
seg_list = jieba.cut("å¤§å·¨è›‹æ¡ˆå°å¸‚åºœåŒä»ä¸‹å°å£ä»¤ï¼Ÿã€€æŸ¯På¦èª")
list(seg_list)

['å¤§å·¨è›‹', 'æ¡ˆå°', 'å¸‚åºœ', 'åŒä»', 'ä¸‹', 'å°å£ä»¤', 'ï¼Ÿ', '\u3000', 'æŸ¯P', 'å¦èª']

In [181]:
import jieba.posseg as pseg
jieba.load_userdict('userdict.txt')
words = pseg.cut("å¤§å·¨è›‹æ¡ˆå°å¸‚åºœåŒä»ä¸‹å°å£ä»¤ï¼Ÿã€€æŸ¯På¦èª")
for w in words:
    print(w.word, w.flag)

å¤§å·¨è›‹ n
æ¡ˆ ng
å° p
å¸‚åºœ n
åŒä» nr
ä¸‹ f
å°å£ä»¤ n
ï¼Ÿ x
ã€€ x
æŸ¯P x
å¦èª v

In [184]:
s="å¤§å·¨è›‹æ¡ˆå°å¸‚åºœåŒä»ä¸‹å°å£ä»¤ï¼Ÿã€€æŸ¯På¦èª"
words = jieba.tokenize(s)

for tw in words:
    print(tw[0], tw[1], tw[2])

å¤§å·¨è›‹ 0 3
æ¡ˆå° 3 5
å¸‚åºœ 5 7
åŒä» 7 9
ä¸‹ 9 10
å°å£ä»¤ 10 13
ï¼Ÿ 13 14
ã€€ 14 15
æŸ¯P 15 17
å¦èª 17 19

## JIeba ç¹é«”ä¸­æ–‡
- https://github.com/ldkrsi/jieba-zh_TW

## N-Gram

In [185]:
s = 'é‚£é…¸æ°‘å©‰å›ä¹Ÿå¯ä»¥å ±åå—?'
for i in range(0, len(s) - 2 + 1):
    print(s[i:i+2])

é‚£é…¸
é…¸æ°‘
æ°‘å©‰
å©‰å›
å›ä¹Ÿ
ä¹Ÿå¯
å¯ä»¥
ä»¥å ±
å ±å
åå—
å—?

In [186]:
s = 'é‚£é…¸æ°‘å©‰å›ä¹Ÿå¯ä»¥å ±åå—?'
for i in range(0, len(s) - 3 + 1):
    print(s[i:i+3])

é‚£é…¸æ°‘
é…¸æ°‘å©‰
æ°‘å©‰å›
å©‰å›ä¹Ÿ
å›ä¹Ÿå¯
ä¹Ÿå¯ä»¥
å¯ä»¥å ±
ä»¥å ±å
å ±åå—
åå—?

In [187]:
s = '''
åœ‹æ°‘é»¨å‰ç«‹å§”è”¡æ­£å…ƒæ—¥å‰çˆ†æ–™æŒ‡ï¼Œåœ‹æ°‘é»¨ä¸»å¸­å³æ•¦ç¾©ç‚ºé«˜é›„å¸‚é•·éŸ“åœ‹ç‘œå‹Ÿæ¬¾4000è¬å…ƒç«¶é¸ç¶“è²»ï¼Œè®“éŸ“çš„ã€Œæ»·è‚‰é£¯ã€å½¢è±¡è¢«è³ªç–‘ï¼ŒéŸ“åœ‹ç‘œä»Šå¤©ä¸‹åˆ2é»è¦ªä¸Šç«ç·šè§£é‡‹ï¼Œé™¤å…¬å¸ƒææ¬¾ç´°ç›®å¤–ï¼Œä¹Ÿé§æ–¥è”¡æ­£å…ƒçš„æŒ‡æ§ï¼Œè¦æ±‚è”¡æ­£å…ƒé“æ­‰ã€‚

éŸ“åœ‹ç‘œè¡¨ç¤ºï¼Œæœ¬äººé€™æ¬¡é¸èˆ‰ç¬¦åˆç›¸é—œè¦å®šã€‚ä»–æ‰€å…¬å¸ƒçš„æ•¸å­—å’Œæœƒè¨ˆå¸«ç¢ºèªéï¼Œä½†å°šæœªç¶“ç›£å¯Ÿé™¢å¯©å®šï¼Œæ­¤æ¬¡é¸èˆ‰æè´ˆæ”¶å…¥ç¸½é¡1å„„2914è¬9779å…ƒï¼Œæ”¯å‡º 1å„„1408è¬7536 å…ƒï¼Œçµé¤˜1506è¬2243å…ƒã€‚è¿”é‚„æè´ˆæ”¯å‡º500å¤šè¬ã€‚

é¸èˆ‰æè´ˆæ”¶å…¥éƒ¨åˆ†ï¼Œå€‹äººææ¬¾å ç¸½ææ¬¾æ”¶å…¥æ·¨é¡ç´„87%ï¼Œç¸½ç­†æ•¸2240ç­†ï¼Œå€‹äººææ¬¾å¹³å‡æ¯ç­†é‡‘é¡ç‚º4813å…ƒã€‚ç‡Ÿåˆ©äº‹æ¥­ææ¬¾ä½”ç¸½ææ¬¾æ”¶å…¥æ·¨é¡ç´„9%ï¼Œç¸½ç­†æ•¸160ç­†ï¼Œç‡Ÿåˆ©äº‹æ¥­ææ¬¾å¹³å‡æ¯ç­†é‡‘é¡ç‚º7è¬2698å…ƒã€‚æ”¿é»¨æåŠ©æ”¶å…¥ä½”ç¸½ææ¬¾æ”¶å…¥æ·¨é¡ç´„0.1%(å·²æ‰£é™¤é—œé–‰å¸³æˆ¶å¾Œé€€é‚„ææ¬¾çš„é‡‘é¡)ï¼Œç­†æ•¸ä¸€ç­†ã€‚å…¶ä»–æ”¶å…¥ä½”ç¸½ææ¬¾æ”¶å…¥æ·¨é¡ç´„4%ã€‚

éŸ“åœ‹ç‘œå¼·èª¿ï¼Œã€Œç”±å»å¹´é¸èˆ‰æè´ˆå¯¾è±¡çš„çµæ§‹ä¾†çœ‹ï¼Œå°é¡å€‹äººææ¬¾çš„éƒ¨åˆ†æœ‰è¿‘9æˆï¼ŒæŸäººæ‰€è¬‚çš„4åƒè¬ææ¬¾é€²æœ¬äººå¸³æˆ¶å®Œå…¨æ˜¯éŒ¯èª¤çš„è¨Šæ¯ï¼Œä¸æ”»è‡ªç ´ã€‚ã€

éŸ“åœ‹ç‘œè¢«è”¡æ­£å…ƒçˆ†æ–™æ”¶4åƒè¬å…ƒæ”¿æ²»ç»é‡‘å¾Œï¼ŒéŸ“åœ‹ç‘œç¬¬ä¸€æ™‚é–“è³­ä¸Šçƒç´—å¸½å¦èªï¼Œè¡¨æ˜è‹¥å³æ•¦ç¾©æœ‰æ‹¿4åƒè¬ï¼Œã€Œæˆ‘æœƒè¾­æ‰é«˜é›„å¸‚é•·ã€ã€‚éŸ“åœ‹ç‘œ27æ—¥å‰‡æ”¹å£ï¼Œå³æ•¦ç¾©ç¢ºå¯¦ä»‹ç´¹ä¼æ¥­ç•Œææ¬¾çµ¦ä»–ï¼Œä»–æœƒç›¡å¿«å…¬å¸ƒå¸³æ¬¾ã€‚ä»Šå¤©éŸ“åœ‹ç‘œæåˆ°æ­¤äº‹ï¼Œå¼·èª¿æ˜¯ã€Œå®Œå…¨æ˜¯éŒ¯èª¤çš„è³‡è¨Šã€‚ã€è¦æ±‚è”¡æ­£å…ƒé“æ­‰ã€‚

éŸ“åœ‹ç‘œå¼·èª¿ï¼Œã€Œæˆ‘è·Ÿè”¡æ­£å…ƒæ˜¯å¤šå¹´å¥½å‹ï¼Œæˆ‘åˆ°ç¾åœ¨æä¸æ¸…æ¥šä¸çŸ¥é“ç‚ºä½•è¦ç”¨ä¸å¯¦è³‡è¨ŠæŒ‡æ§ï¼Œæˆ‘æ·±æ·±è¦ºå¾—è”¡æ­£å…ƒå§”å“¡æ¬ æˆ‘ä¸€å€‹é“æ­‰ï¼Œé€™å°æˆ‘é€ æˆå‚·å®³å›°æ“¾ã€‚ã€ä»–è¦æ±‚è”¡æ­£å…ƒé“æ­‰ï¼Œã€Œæˆ‘è¦ºå¾—è”¡æ­£å…ƒé“æ­‰å®Œç•¢ï¼Œå¤§å®¶é‚„æ˜¯å¥½æœ‹å‹ï¼Œå¦‚æœä¸é“æ­‰ï¼Œæœ‹å‹åˆ°æ­¤ç‚ºæ­¢ã€‚ã€å¦å¤–ä»–é„­é‡æ¾„æ¸…ï¼Œã€Œçµ•å°æ²’æœ‰ä¼æ¥­å®¶æ4åƒè¬çµ¦æˆ‘ï¼Œå¦‚æœæœ‰ï¼Œæˆ‘è¾­æ‰é«˜é›„å¸‚é•·ï¼Œæˆ‘å¿…é ˆè­‰æ˜æˆ‘çš„æ¸…ç™½ï¼Œç¾åœ¨æŠ¹é»‘ã€æ˜æ§æš—ç®­æ²’æœ‰åœï¼Œè«‹è”¡æ­£å…ƒè§£é‡‹æ¸…æ¥šã€‚ã€

ä¾æ“šã€Šæ”¿æ²»ç»é‡‘æ³•ã€‹è¦å®šï¼Œç›´è½„å¸‚é•·å€™é¸äººå¯ä»¥é–‹æ”¿æ²»ç»é‡‘å°ˆæˆ¶ï¼Œæ”¶å–æ”¿æ²»ç»é‡‘ï¼Œä½†æ¯ä¸€ä¼æ¥­æçµ¦ç›´è½„å¸‚é•·å€™é¸äººçš„ä¸Šé™ç‚º100è¬ï¼Œæ”¿é»¨è³‡åŠ©çš„ä¸Šé™ç‚º300è¬å…ƒã€‚ï¼ˆå³æ™‚æ–°èä¸­å¿ƒï¼ç¶œåˆå ±å°ï¼‰

'''

In [193]:
ary = []
for i in range(0, len(s) - 3 + 1):
    ary.append(s[i:i+3])

In [194]:
from collections import Counter
c = Counter(ary)
c.most_common(10)
for k,v in c.most_common(10):
    if v>5:
        print(k)

è”¡æ­£å…ƒ
éŸ“åœ‹ç‘œ

In [195]:
ary = []
for i in range(0, len(s) - 2 + 1):
    ary.append(s[i:i+2])

In [196]:
from collections import Counter
c = Counter(ary)
c.most_common(10)
for k,v in c.most_common(10):
    if v>5:
        print(k)

ææ¬¾
è”¡æ­£
æ­£å…ƒ
éŸ“åœ‹
åœ‹ç‘œ
æ”¶å…¥



é“æ­‰

In [204]:
import re
sentenceAry = re.split('ï¼Œ|ã€‚|ã€|\(|\)|ã€|ã€Œ|ï¼|ï¼ˆ|ï¼‰|ã€Š|ã€‹',s)

In [205]:
def removeKey(text, keywords):
    ret = text
    for word in keywords:
        ret = ret.replace(word, '')
    return ret

a = 'æ¯”ç‰¹å¹£æœŸè²¨ ç¾æ ¸å‡†ä¸Šå¸‚'
removeKey(a, ['æœŸè²¨', 'æ ¸å‡†'])

'æ¯”ç‰¹å¹£ ç¾ä¸Šå¸‚'

In [212]:
def ngram(input_sentence,n=2):
    ret = []
    for i in range(0,len(input_sentence) - n + 1):
        ret.append(input_sentence[i:i+n].strip())
    return ret

In [213]:
keywords = [] 
for n in range(4,1, -1):
    words = []
    for sentence in sentenceAry:
        text_list = removeKey(sentence, keywords)
        words.extend(ngram(text_list, n))
        
    c = Counter(words)
    for word, cnt in c.items():
        if cnt >= 5 and re.match('^[\u4e00-\u9fa5]'):
            keywords.append(word)

In [214]:
keywords

['è”¡æ­£å…ƒ', 'éŸ“åœ‹ç‘œ', 'å¸‚é•·', '00', 'ææ¬¾', 'é“æ­‰', '', 'æ”¶å…¥']

In [211]:
print('\n\n')