## 正規表達法

In [2]:
p = '0912345678'
'0912345678' == p

True

In [3]:
s = '8'

In [4]:
import re
re.match('8', s)

In [6]:
print(re.match('6', s))

None

In [7]:
# 0 or 1 or 2 ... or 9 => [0123456789]
re.match('[0123456789]', s)

In [8]:
# -: [0123456789] => [0-9]
re.match('[0-9]', s)

In [9]:
# \d: [0-9] => \d
re.match('\d', s)

In [10]:
s = 'w'

In [11]:
print(re.match('\d', s))

None

In [13]:
print(re.match('[abcdefghijklmnopqrstuvwxyz]', s))

<_sre.SRE_Match object; span=(0, 1), match='w'>

In [15]:
# [abcdefghijklmnopqrstuvwxyz] => [a-z]
print(re.match('[a-z]', s))

<_sre.SRE_Match object; span=(0, 1), match='w'>

In [16]:
s = 'W'
print(re.match('[a-z]', s))

None

In [17]:
print(re.match('[a-zA-Z]', s))

<_sre.SRE_Match object; span=(0, 1), match='W'>

In [18]:
s = '5'
print(re.match('[a-zA-Z]', s))

None

In [19]:
print(re.match('[a-zA-Z0-9]', s))

<_sre.SRE_Match object; span=(0, 1), match='5'>

In [20]:
print(re.match('[0-9a-zA-Z]', s))

<_sre.SRE_Match object; span=(0, 1), match='5'>

In [21]:
# [a-zA-Z0-9] => \w
print(re.match('\w', s))

<_sre.SRE_Match object; span=(0, 1), match='5'>

In [22]:
a = '你好'

In [23]:
re.match('[\u4e00-\u9fa5]', a)

In [25]:
p = 'apple'
re.match('\w', p)

In [26]:
# {n} => match exact n word
re.match('\w{5}', p)

In [28]:
p = 'app-le'
print(re.match('\w{5}', p))

None

In [29]:
print(re.match('[\w-]{5}', p))

<_sre.SRE_Match object; span=(0, 5), match='app-l'>

In [30]:
# {m,n} =>  at least m charater, at most n charater
print(re.match('[\w-]{5,6}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [31]:
# {m,} =>  at least m charaters
print(re.match('[\w-]{5,}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [32]:
# {,n} =>  at most n charaters
print(re.match('[\w-]{,6}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [33]:
# {1,} =>  at least 1 charaters
print(re.match('[\w-]{1,}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [35]:
# {1,} => +
print(re.match('[\w-]+', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [36]:
# {0,} =>  at least 0 charaters
print(re.match('[\w-]{0,}', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [37]:
# {0,} => *
print(re.match('[\w-]*', p))

<_sre.SRE_Match object; span=(0, 6), match='app-le'>

In [48]:
phones = ['0912345678', '0912-345678','0912-345-678','091234567812310312370132']
ary = []
for p in phones:
    #print(re.match('09\d{8}',p))
    #print(re.match('09[\d-]{8}',p))
    #print(re.match('09[\d-]{8,10}',p))
    #print(re.match('09\d{2}-{0,1}\d{3}-{0,1}\d{3}',p))
    
    # ? => {0,1}
    #print(re.match('09\d{2}-?\d{3}-?\d{3}',p))
    
    # ^ match the begin, $ match the end
    m = re.match('^09\d{2}-?\d{3}-?\d{3}$',p)
    if m:
        ary.append(m)

In [49]:
len(ary)

3

In [51]:
a = ['1','2','3']
if len(a) >= 1:
    print('exist')

exist

In [52]:
if a:
    print('exist')

exist

In [53]:
a = []
if a:
    print('exist')

In [54]:
phones = ['0912345678', '0912-345678','0912-345-678','091234567812310312370132']
len([p for p in phones if re.match('^09\d{2}-?\d{3}-?\d{3}$',p)])

3

In [65]:
words = ['我的', 'iphone', '摔壞了', '柯P', '柯P參選']
for w in words:
    #m = re.match('[\u4e00-\u9fa5]+',w)
    
    # ^ : match begin, [^ ...]: not
    #m = re.match('[^\u4e00-\u9fa5]+',w)
    #m = re.search('[a-zA-Z]+', w)
    
    # match: 100% match, search: partial match
    m = re.match('^[\u4e00-\u9fa5]+$',w)
    if m:
        print(w)

我的
摔壞了

In [67]:
words = '😋 Get Emoji — All Emojis to ✂ Copy and 📋 Paste 👌'
# . match any charaters
m = re.match('.+', words)
m

In [68]:
import re 
m = re.match("\w+@\w+", "david@largidata.com") 
print(m)

<_sre.SRE_Match object; span=(0, 15), match='david@largidata'>

In [70]:
m = re.match("\w+@[\w.]+", "david@largidata.com") 
m

In [71]:
m = re.match("\w+@[\w.]+", "david@largidata@com") 
m

In [73]:
# () => group
m = re.match("(\w+)@([\w.]+)", "david@largidata.com") 
m.groups()

('david', 'largidata.com')

In [74]:
m = re.match("(\w+)@([\w.]+)", "david@largidata.com") 
m.group(1)

'david'

In [75]:
m.group(2)

'largidata.com'

In [77]:
m = re.match("(\w+) (\w+)", "David Chiu") 
print(m.group(1), m.group(2))

David Chiu

In [78]:
m = re.match("(?P<first_name>\w+) (?P<last_name>\w+)", "David Chiu") 
print(m.group('first_name'), m.group('last_name'))

David Chiu

In [79]:
str1 = 'scp file.txt root@10.0.0.1:./' 
m=re.search('^scp ([\w.]+) (\w+)@([\w\.]+):(.+)',str1) 
if m: 
    print(m.group(1), m.group(2), m.group(3), m.group(4))

file.txt root 10.0.0.1 ./

In [81]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col= 0)

In [84]:
s = '2房1廳1衛1陽臺'
import re
m = re.match('(\d+)房(\d+)廳(\d+)衛(\d+)陽臺',s)
m.groups()

('2', '1', '1', '1')

In [89]:
def matchStr(e):
    m = re.match('(\d+)房(\d+)廳(\d+)衛(\d+)陽臺', e)
    return m.groups()

#df['layout'].map(matchStr)

In [91]:
df[['bedroom', 'living_room', 'bathroom', 'balcony']] = df['layout'].str.extract('(\d+)房(\d+)廳(\d+)衛(\d+)陽臺')

In [104]:
#df['address'].str.extract('(.+[市縣])(.+[區市鄉鎮])(.+[路街巷])').isnull().any()
#df['address']

0    True
1    True
2    True
dtype: bool

In [115]:
# *?, +? => non greedy match
df2 = df['address'].str.extract('(.+?[市縣])(.+?[區市鄉鎮])(.+?[路街巷段])')
df2[df2[0].isnull()]

Empty DataFrame
Columns: [0, 1, 2]
Index: []

## Pandas IO

In [118]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col=0)
df.head(3)

,search_date,title,address,floor_info,price,layout,building_area,building_use
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.0,電梯大樓/整層住家
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.0,電梯大樓/整層住家
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.0,電梯大樓/整層住家

In [119]:
df.to_clipboard()

In [128]:
df2 = pd.read_clipboard()
df2

  term  relation                            profession
0  戴燈山     結婚,孩子                                    副總
1  周俊隆  夫人,母親,女兒  保險局,發言人,主席,科長,局長,銀行局,董事長,台銀,文建會,行政院長
2  周俊隆  夫人,母親,女兒  保險局,發言人,主席,科長,局長,銀行局,董事長,台銀,文建會,行政院長
3  吳碧珠        女兒                                 議長吳碧珠

In [132]:
df.to_excel('rent.xlsx')

## SQLite

In [135]:
import sqlite3 as lite
con = lite.connect('test.sqlite')
cur = con.cursor()
cur.execute('select SQLITE_VERSION()')
cur.fetchone()
con.close()

In [137]:
import sqlite3 as lite
with lite.connect('test.sqlite') as con:
    cur = con.cursor()
    cur.execute('select SQLITE_VERSION()')
    print(cur.fetchone())

('3.24.0',)

In [139]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    
    data = cur.fetchall()
    print(data)
    #for rec in data: 
    #    print(rec[0], rec[1])

[('0912173381', 'United State'), ('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

In [140]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data1 = cur.fetchone()
    data2 = cur.fetchall()
    print(data1)
    print(data2)
    #for rec in data: 
    #    print(rec[0], rec[1])

('0912173381', 'United State')
[('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

In [141]:
import sqlite3 as lite
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},{'name':'John', 'age':33 , 'gender': 'M'}]
df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
age       2 non-null int64
gender    2 non-null object
name      2 non-null object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

In [143]:
with lite.connect('test.sqlite') as db:
    df.to_sql(name='employee', index=False, con=db, if_exists='replace')

In [144]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select * from employee;', con = db)
df2

   age gender  name
0   23      F  Mary
1   33      M  John

In [146]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col=0)
#df

In [149]:
df['price'] = df['price'].map(lambda ele: int(ele.replace('元/月', '').replace(',',''))).head()

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 5 to 431
Data columns (total 8 columns):
search_date      100 non-null object
title            100 non-null object
address          100 non-null object
floor_info       100 non-null object
price            5 non-null float64
layout           100 non-null object
building_area    100 non-null float64
building_use     100 non-null object
dtypes: float64(2), object(6)
memory usage: 7.0+ KB

In [151]:
with lite.connect('test.sqlite') as db:
    df.to_sql(name='renthouse', index=False, con=db, if_exists='replace')

In [155]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select * from renthouse;', con = db)
df2.head(1)

,search_date,title,address,floor_info,price,layout,building_area,building_use
0,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,22000.0,2房1廳1衛1陽臺,24.0,電梯大樓/整層住家

In [156]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select building_use, avg(price) from renthouse group by building_use;', con = db)
df2

  building_use  avg(price)
0        公寓/住辦         NaN
1      公寓/整層住家         NaN
2      別墅/整層住家         NaN
3       透天厝/住辦         NaN
4     透天厝/整層住家         NaN
5      電梯大樓/住辦         NaN
6    電梯大樓/整層住家     17300.0

In [157]:
with lite.connect('test.sqlite') as db:
    df2 = pd.read_sql_query('select * from renthouse order by price desc limit 3;', con = db)
df2

,search_date,title,address,floor_info,price,layout,building_area,building_use
0,2018-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,25000.0,4房3廳3衛3陽臺,78.0,電梯大樓/整層住家
1,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,22000.0,2房1廳1衛1陽臺,24.0,電梯大樓/整層住家
2,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,17000.0,2房1廳2衛2陽臺,32.0,電梯大樓/整層住家

## 文字探勘

In [158]:
a = 'this is a book'
a.split()

['this', 'is', 'a', 'book']

In [ ]:
a = '酸民婉君也可以報名嗎?'

In [159]:
! pip install jieba

Requirement already satisfied: jieba in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [161]:
import jieba
for w in jieba.cut('酸民婉君也可以報名嗎?'):
    print(w)

Building prefix dict from the default dictionary ...
Loading model from cache /var/folders/46/b7dzk4mn6g54qzptv608w7d00000gn/T/jieba.cache
Loading model cost 0.827 seconds.
Prefix dict has been built succesfully.

酸民婉君
也
可以
報名
嗎
?

## 正規表達法斷句

In [163]:
s = '''
久站、久坐常導致下肢靜脈曲張，不僅影響美觀，萬芳醫院心臟血管外科主治醫師莊民楷表示，根據統計，女性一生中產生靜脈曲張的機會約20%，凡出現靜脈曲張的血管，更要小心可能併發皮膚潰瘍、血管栓塞與惡病病變等。適逢母親節， 萬芳醫院特別於5月4日早上9點，在醫院一樓大廳舉辦免費「靜脈曲張」篩檢，限量200名，採現場報名。
'''
s.split('，')

['\n久站、久坐常導致下肢靜脈曲張',
 '不僅影響美觀',
 '萬芳醫院心臟血管外科主治醫師莊民楷表示',
 '根據統計',
 '女性一生中產生靜脈曲張的機會約20%',
 '凡出現靜脈曲張的血管',
 '更要小心可能併發皮膚潰瘍、血管栓塞與惡病病變等。適逢母親節',
 ' 萬芳醫院特別於5月4日早上9點',
 '在醫院一樓大廳舉辦免費「靜脈曲張」篩檢',
 '限量200名',
 '採現場報名。\n']

In [167]:
import re
re.split('，|。|「|」|、', s)

['\n久站',
 '久坐常導致下肢靜脈曲張',
 '不僅影響美觀',
 '萬芳醫院心臟血管外科主治醫師莊民楷表示',
 '根據統計',
 '女性一生中產生靜脈曲張的機會約20%',
 '凡出現靜脈曲張的血管',
 '更要小心可能併發皮膚潰瘍',
 '血管栓塞與惡病病變等',
 '適逢母親節',
 ' 萬芳醫院特別於5月4日早上9點',
 '在醫院一樓大廳舉辦免費',
 '靜脈曲張',
 '篩檢',
 '限量200名',
 '採現場報名',
 '\n']

In [169]:
import jieba

seg_list = jieba.cut("大巨蛋案對市府同仁下封口令？　柯P否認", cut_all=True)
seg_list

In [171]:
for w in seg_list:
    print(w)

In [173]:
seg_list = jieba.cut("大巨蛋案對市府同仁下封口令？　柯P否認", cut_all=True)
list(seg_list)

['大',
 '巨蛋',
 '案',
 '對',
 '市府',
 '同仁',
 '下',
 '封口',
 '封口令',
 '口令',
 '',
 '',
 '',
 '柯',
 'P',
 '否',
 '認']

In [174]:
seg_list = jieba.cut("大巨蛋案對市府同仁下封口令？　柯P否認")
list(seg_list)

['大', '巨蛋', '案對', '市府', '同仁', '下', '封口令', '？', '\u3000', '柯', 'P', '否認']

In [178]:
jieba.load_userdict('userdict.txt')
seg_list = jieba.cut("大巨蛋案對市府同仁下封口令？　柯P否認")
list(seg_list)

['大巨蛋', '案對', '市府', '同仁', '下', '封口令', '？', '\u3000', '柯P', '否認']

In [181]:
import jieba.posseg as pseg
jieba.load_userdict('userdict.txt')
words = pseg.cut("大巨蛋案對市府同仁下封口令？　柯P否認")
for w in words:
    print(w.word, w.flag)

大巨蛋 n
案 ng
對 p
市府 n
同仁 nr
下 f
封口令 n
？ x
　 x
柯P x
否認 v

In [184]:
s="大巨蛋案對市府同仁下封口令？　柯P否認"
words = jieba.tokenize(s)

for tw in words:
    print(tw[0], tw[1], tw[2])

大巨蛋 0 3
案對 3 5
市府 5 7
同仁 7 9
下 9 10
封口令 10 13
？ 13 14
　 14 15
柯P 15 17
否認 17 19

## JIeba 繁體中文
- https://github.com/ldkrsi/jieba-zh_TW

## N-Gram

In [185]:
s = '那酸民婉君也可以報名嗎?'
for i in range(0, len(s) - 2 + 1):
    print(s[i:i+2])

那酸
酸民
民婉
婉君
君也
也可
可以
以報
報名
名嗎
嗎?

In [186]:
s = '那酸民婉君也可以報名嗎?'
for i in range(0, len(s) - 3 + 1):
    print(s[i:i+3])

那酸民
酸民婉
民婉君
婉君也
君也可
也可以
可以報
以報名
報名嗎
名嗎?

In [187]:
s = '''
國民黨前立委蔡正元日前爆料指，國民黨主席吳敦義為高雄市長韓國瑜募款4000萬元競選經費，讓韓的「滷肉飯」形象被質疑，韓國瑜今天下午2點親上火線解釋，除公布捐款細目外，也駁斥蔡正元的指控，要求蔡正元道歉。

韓國瑜表示，本人這次選舉符合相關規定。他所公布的數字和會計師確認過，但尚未經監察院審定，此次選舉捐贈收入總額1億2914萬9779元，支出 1億1408萬7536 元，結餘1506萬2243元。返還捐贈支出500多萬。

選舉捐贈收入部分，個人捐款占總捐款收入淨額約87%，總筆數2240筆，個人捐款平均每筆金額為4813元。營利事業捐款佔總捐款收入淨額約9%，總筆數160筆，營利事業捐款平均每筆金額為7萬2698元。政黨捐助收入佔總捐款收入淨額約0.1%(已扣除關閉帳戶後退還捐款的金額)，筆數一筆。其他收入佔總捐款收入淨額約4%。

韓國瑜強調，「由去年選舉捐贈対象的結構來看，小額個人捐款的部分有近9成，某人所謂的4千萬捐款進本人帳戶完全是錯誤的訊息，不攻自破。」

韓國瑜被蔡正元爆料收4千萬元政治獻金後，韓國瑜第一時間賭上烏紗帽否認，表明若吳敦義有拿4千萬，「我會辭掉高雄市長」。韓國瑜27日則改口，吳敦義確實介紹企業界捐款給他，他會盡快公布帳款。今天韓國瑜提到此事，強調是「完全是錯誤的資訊。」要求蔡正元道歉。

韓國瑜強調，「我跟蔡正元是多年好友，我到現在搞不清楚不知道為何要用不實資訊指控，我深深覺得蔡正元委員欠我一個道歉，這對我造成傷害困擾。」他要求蔡正元道歉，「我覺得蔡正元道歉完畢，大家還是好朋友，如果不道歉，朋友到此為止。」另外他鄭重澄清，「絕對沒有企業家捐4千萬給我，如果有，我辭掉高雄市長，我必須證明我的清白，現在抹黑、明槍暗箭沒有停，請蔡正元解釋清楚。」

依據《政治獻金法》規定，直轄市長候選人可以開政治獻金專戶，收取政治獻金，但每一企業捐給直轄市長候選人的上限為100萬，政黨資助的上限為300萬元。（即時新聞中心／綜合報導）

'''

In [193]:
ary = []
for i in range(0, len(s) - 3 + 1):
    ary.append(s[i:i+3])

In [194]:
from collections import Counter
c = Counter(ary)
c.most_common(10)
for k,v in c.most_common(10):
    if v>5:
        print(k)

蔡正元
韓國瑜

In [195]:
ary = []
for i in range(0, len(s) - 2 + 1):
    ary.append(s[i:i+2])

In [196]:
from collections import Counter
c = Counter(ary)
c.most_common(10)
for k,v in c.most_common(10):
    if v>5:
        print(k)

捐款
蔡正
正元
韓國
國瑜
收入



道歉

In [204]:
import re
sentenceAry = re.split('，|。|、|\(|\)|」|「|／|（|）|《|》',s)

In [205]:
def removeKey(text, keywords):
    ret = text
    for word in keywords:
        ret = ret.replace(word, '')
    return ret

a = '比特幣期貨 美核准上市'
removeKey(a, ['期貨', '核准'])

'比特幣 美上市'

In [212]:
def ngram(input_sentence,n=2):
    ret = []
    for i in range(0,len(input_sentence) - n + 1):
        ret.append(input_sentence[i:i+n].strip())
    return ret

In [213]:
keywords = [] 
for n in range(4,1, -1):
    words = []
    for sentence in sentenceAry:
        text_list = removeKey(sentence, keywords)
        words.extend(ngram(text_list, n))
        
    c = Counter(words)
    for word, cnt in c.items():
        if cnt >= 5 and re.match('^[\u4e00-\u9fa5]'):
            keywords.append(word)

In [214]:
keywords

['蔡正元', '韓國瑜', '市長', '00', '捐款', '道歉', '', '收入']

In [211]:
print('\n\n')