# 作業一

有一個金融業客戶流失紀錄的資料集

https://github.com/ywchiu/ctbcpy/raw/master/data/customer_data.tsv

資料是以tab 分隔，包含以下欄位

|欄位名稱|中文敘述|
|----------|----|
|CustomerId|客戶ID|
|Surname|姓氏| 
|CreditScore|信用分數| 
|Gender|性別| 
|Age|年紀| 
|Tenure|年資|
|Balance|餘額| 
|NumOfProducts|購買多少產品| 
|HasCrCard|是否有信用卡| 
|IsActiveMember|是否為活耀客戶|
|EstimatedSalary|預估薪資| 
|Exited|是否流失|

1. 請試用python 計算在這文檔中有多少客戶(CustomerID)?
2. 請算出所有客戶平均信用分數(CreditScore)?
3. 請找出客戶姓氏(Surname)為H開頭的客戶擁有信用卡(HasCrCard == 1)的客戶數?
4. 請計算客戶流失比例(Exited == 1 對上 客戶總數)?
5. 請計算男性與女性(Gender)的平均薪資(Estimated Salary)?

## 讀取檔案 (Windows)

In [ ]:
k = 0 
customers = []
with open('C:\\Users\\data\\customer_data.tsv', 'r') as f:
    for line in f.readlines():
        #print(line.strip().split('\t')[1])
        customerid = line.strip().split('\t')[1]
        if customerid != 'CustomerId':
            customers.append(customerid)

## 讀取檔案 (MAC)

In [7]:
k = 0 
customers = []
with open('data/customer_data.tsv', 'r') as f:
    for line in f.readlines():
        #print(line.strip().split('\t')[1])
        customerid = line.strip().split('\t')[1]
        if customerid != 'CustomerId':
            customers.append(customerid)

### 答案一

In [8]:
len(customers)

10000

In [9]:
len(set(customers))

10000

### 答案二

In [14]:
k = 0 
creditscores = []
with open('data/customer_data.tsv', 'r') as f:
    for line in f.readlines():
        #print(line.strip().split('\t')[1])
        creditscore = line.strip().split('\t')[3]
        if creditscore != 'CreditScore':
            creditscores.append(int(creditscore))

In [17]:
sum(creditscores) / len(creditscores)

650.5288

### 答案三

In [27]:
customers = []
with open('data/customer_data.tsv', 'r') as f:
    for line in f.readlines():
        fields    = line.strip().split('\t')
        surname   = fields[2]
        if surname != 'Surname':
            hascrcard = int(fields[9])
            #print(surname, hascrcard)
            if surname.startswith('H') and hascrcard == 1:
                customers.append(surname)

In [28]:
len(customers)

463

### 答案四

In [29]:
customers      = []
with open('data/customer_data.tsv', 'r') as f:
    for line in f.readlines():
        fields    = line.strip().split('\t')
        exited   = fields[-1]
        if exited != 'Exited':
            customers.append(exited)

In [32]:
customers.count('1') / len(customers)

0.2037

In [35]:
dic = {}
for c in customers:
    if c not in dic:
        dic[c] = 1
    else:
        dic[c] = dic[c] + 1
dic
dic['1'] / (dic['0'] + dic['1'])

0.2037

In [36]:
from collections import Counter
c = Counter(customers)
c

Counter({'0': 7963, '1': 2037})

### 答案五

In [41]:
customer_dic      = {'Female':{'cnt':0, 'salary':0}, 'Male':{'cnt':0, 'salary':0}}
with open('data/customer_data.tsv', 'r') as f:
    for line in f.readlines():
        fields    = line.strip().split('\t')
        gender            = fields[4]
        estimatedsalary   = fields[-2]
        if gender != 'Gender':
            customer_dic[gender]['cnt'] = customer_dic[gender]['cnt'] + 1
            customer_dic[gender]['salary'] = customer_dic[gender]['salary'] + float(estimatedsalary)
        #    customers.append(exited)

In [47]:
male_salary = customer_dic['Male']['salary'] / customer_dic['Male']['cnt']
round(male_salary, 2)

99664.58

In [48]:
female_salary = customer_dic['Female']['salary'] / customer_dic['Female']['cnt']
round(female_salary, 2)

100601.54

## 使用Pandas

In [51]:
import pandas
df = pandas.read_csv('data/customer_data.tsv', sep = '\t')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Female,43,2,125510.82,1,1,1,79084.10,0

In [53]:
df['CustomerId'].count()

10000

In [54]:
df['CreditScore'].mean()

650.5288

In [60]:
sum(df['Surname'].str.startswith('H') & df['HasCrCard'] == 1)

463

In [67]:
df['Exited'].value_counts() / df['Exited'].count()

0    0.7963
1    0.2037
Name: Exited, dtype: float64

In [66]:
df[['Gender', 'EstimatedSalary']].groupby('Gender').mean()

        EstimatedSalary
Gender
Female    100601.541382
Male       99664.576931